@charset "UTF-8";
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
          ⚙️ Imports
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#main {
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
  padding-top: 10.1875rem;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  #main {
    padding-top: 6.75rem;
  }
}

@media (min-width: 992px) {
  #main {
    padding-top: 13.5rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1200px;
  }
}

.clients__pop-up-link--web-design, .clients__pop-up-link--digital-marketing, .clients__pop-up-link--it-support, .clients__pop-up-link--bespoke-software, .news__card-read-more-button, .welcome__button-link, .services__card-read-more-button, .banner__button, .site-contact-cta, .site-support-cta {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.no-line-break {
  white-space: nowrap;
}

.main-logo {
  margin-right: auto;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-logo {
    max-width: 22rem;
  }
}

@media (min-width: 992px) {
  .main-logo {
    max-width: 100%;
  }
}

.main-logo-image {
  width: 90%;
}

.site-phone-cta {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .site-phone-cta {
    display: none;
  }
}

.site-phone-cta__icon {
  margin-top: 0.5em;
  width: 2rem;
  fill: #323544;
}

.site-phone-cta__icon:hover {
  fill: #121318;
}

.site-support-cta {
  height: 3.5rem;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  display: none;
}

@media (min-width: 992px) {
  .site-support-cta {
    display: inline-flex;
    background-color: #4183D7;
  }
  .site-support-cta:hover {
    background-color: #235ea8;
  }
}

.site-support-cta .icon {
  fill: #fff;
}

.site-contact-cta {
  height: 3.5rem;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  display: none;
}

@media (min-width: 992px) {
  .site-contact-cta {
    display: inline-flex;
    justify-content: center;
    background-color: #999AA1;
  }
  .site-contact-cta:hover {
    background-color: #72737c;
  }
}

.site-contact-cta .icon {
  fill: #fff;
}

.site-search-widget {
  position: relative;
  margin: 0.5rem 0;
}

.site-search-widget__field {
  display: inline-block;
  width: 15rem;
  padding: 0.75rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.site-search-widget__field::placeholder {
  color: #999AA1;
}

.site-search-widget__field:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  outline: none;
}

.site-search-widget__trigger {
  top: 0.5rem;
  right: 0.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-search-widget__icon {
  width: 1.6rem;
}

.site-search-widget--narrow-viewport {
  display: block;
  margin-top: 1.2rem;
}

@media (min-width: 768px) {
  .site-search-widget--narrow-viewport {
    display: none;
  }
}

.site-search-widget--narrow-viewport button.site-search-widget__trigger {
  position: absolute;
}

.site-search-widget--wide-viewport {
  display: none;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .site-search-widget--wide-viewport {
    display: flex;
  }
}

.site-search-widget__field--narrow-viewport {
  width: 100%;
  border-width: 2px;
  border-radius: 2px;
}

.site-search-widget__field--wide-viewport {
  height: 3.5rem;
  background-color: #fff;
}

@media (min-width: 768px) {
  .site-search-widget__field--wide-viewport {
    width: 10.875rem;
  }
}

@media (min-width: 992px) {
  .site-search-widget__field--wide-viewport {
    display: none;
  }
}

@media (min-width: 1260px) {
  .site-search-widget__field--wide-viewport {
    display: inline-block;
    width: 15rem;
  }
}

.site-search-widget__trigger--wide-viewport {
  width: 4rem;
  height: 3.5rem;
  top: 0;
  right: 0;
  background-color: #999AA1;
  border-radius: 0 0.25rem 0.25rem 0;
}

.site-search-widget__trigger--wide-viewport:hover {
  background-color: #72737c;
}

@media (min-width: 992px) {
  .site-search-widget__trigger--wide-viewport {
    position: relative;
    border-radius: 0.25rem;
  }
}

@media (min-width: 1260px) {
  .site-search-widget__trigger--wide-viewport {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.site-search-widget__icon--narrow-viewport {
  fill: #323544;
}

.site-search-widget__icon--wide-viewport {
  padding-top: 0.75rem;
  fill: #fff;
}

.main-header {
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 992px) {
  .main-header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.main-header--hide-upwards {
  transform: translateY(-100%);
}

.main-logo {
  margin-right: auto;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-logo {
    max-width: 22rem;
  }
}

@media (min-width: 992px) {
  .main-logo {
    max-width: 100%;
  }
}

.main-logo-image {
  width: 90%;
}

.main-nav {
  display: none;
  background-color: #323544;
  color: #fff;
}

@media (min-width: 992px) {
  .main-nav {
    display: block;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

.main-nav a {
  color: #fff;
}

.main-nav a:visited {
  color: #fff;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  flex: 1;
}

.main-nav__item:hover .main-nav__dropdown {
  display: block;
}

.main-nav__item:hover .main-nav__link::after {
  content: "";
  position: absolute;
  bottom: -2.25rem;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.25rem 67px 0px 67px;
  border-color: transparent transparent transparent;
  transform: translateX(-50%);
  z-index: 100;
}

@media (min-width: 1260px) {
  .main-nav__item:hover .main-nav__link::after {
    border-width: 2.25rem 83px 0px 83px;
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
}

.main-nav__link:hover {
  text-decoration: none;
}

.main-nav__dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-nav__sublist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__sublist li {
  width: 33%;
  padding: 0.625rem 1rem 0.625rem 0;
  margin-top: 1rem;
}

.main-nav__sublist li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-nav__sublist li a .icon {
  width: 1.25rem;
  margin-bottom: 0;
  margin-right: 0.25rem;
}

.main-nav__item-text {
  display: block;
  text-transform: uppercase;
}

.main-nav__dropdown-title {
  font-size: 2rem;
}

.main-nav__sublist {
  font-size: 1.2rem;
}

.main-nav__item-text--small {
  font-size: 0.625rem;
  line-height: 0.5rem;
}

.main-nav__item-text--large {
  font-size: 1.125rem;
}

.main-header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav-toggle {
  background-color: #323544;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 3.5rem;
  width: 4rem;
  background-color: #323544;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.site-nav-toggle:hover {
  background-color: #121318;
}

.site-nav-toggle span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}

footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}

@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}

@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}

footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
