
.clients {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.clients__section-for-each-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}
.clients__section-for-each-client img {
  max-height: 4.5rem;
  filter: grayscale(1);
}
.clients__section-for-each-client img:hover {
  filter: grayscale(0);
}

.clients__pop-up-hover-container {
  position: absolute;
  display: none;
  width: 20rem;
  bottom: 100%;
}

.clients__section-for-each-client:hover .clients__pop-up-hover-container {
  display: block;
}

.clients__pop-up-box {
  background-color: #323544;
  color: #fff;
  padding: 1.25rem;
  width: 18rem;
  bottom: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.clients__pop-up-box .icon {
  width: 1rem;
  margin-left: 0.25rem;
  fill: #fff;
}

.clients__pop-up-box::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  right: 50%;
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid #323544;
}

// .triangle {
//    width: 0px;
//    height: 0px;
//    border-style: solid;
//    border-width: 100px 100px 0 100px;
//    border-color: #333645 transparent transparent transparent;
//    transform: rotate(0deg);
// }
.clients__pop-up-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.clients__pop-up-heading {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.clients__pop-up-description {
  font-size: 0.8125rem;
}

.clients__pop-up-link--green {
  background-color: #2ECC71;
}
.clients__pop-up-link--green:hover {
  background-color: #208e4e;
}

.clients__pop-up-link--blue {
  background-color: #4183D7;
}
.clients__pop-up-link--blue:hover {
  background-color: #235ea8;
}

.clients__pop-up-link--yellow {
  background-color: #E8A008;
}
.clients__pop-up-link--yellow:hover {
  background-color: #E8A008;
}
