
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 992px) {
  .main-header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.main-header--hide-upwards {
  transform: translateY(-100%);
}

.main-nav {
  display: none;
  background-color: #323544;
  color: #fff;
}
@media (min-width: 992px) {
  .main-nav {
    display: block;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
.main-nav a {
  color: #fff;
}
.main-nav a:visited {
  color: #fff;
}


.main-nav__list {
  display: flex;
}

.main-nav__item {
  flex: 1;
}
.main-nav__item:hover .main-nav__dropdown {
  display: block;
}
.main-nav__item:hover .main-nav__link::after {
  content: "";
  position: absolute;
  bottom: -2.25rem;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.25rem 67px 0px 67px;
  border-color: transparent transparent transparent;
  transform: translateX(-50%);
  z-index: 100;
}
@media (min-width: 1260px) {
  .main-nav__item:hover .main-nav__link::after {
    border-width: 2.25rem 83px 0px 83px;
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0;
}
.main-nav__link:hover {
  text-decoration: none;
}

.main-nav__dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-nav__sublist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-nav__sublist li {
  width: 33%;
  padding: 0.625rem 1rem 0.625rem 0;
  margin-top: 1rem;
}
.main-nav__sublist li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-nav__sublist li a .icon {
  width: 1.25rem;
  margin-bottom: 0;
  margin-right: 0.25rem;
}

.main-nav__item-text {
  display: block;
  text-transform: uppercase;
}

.main-nav__dropdown-title {
  font-size: 2rem;
}

.main-nav__sublist {
  font-size: 1.2rem;
}

.main-nav__item-text--small {
  font-size: 0.625rem;
  line-height: 0.5rem;
}

.main-nav__item-text--large {
  font-size: 1.125rem;
}

.main-header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.site-nav-toggle {
  background-color: #323544;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 3.5rem;
  width: 4rem;
  background-color: #323544;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.site-nav-toggle:hover {
  background-color: #121318;
}
.site-nav-toggle span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background-color: #fff;
}



.main-nav__item--bespoke-software:hover .main-nav__link {
  background-color: #67809F;
}

.main-nav__item--it-support:hover .main-nav__link {
  background-color: #4183D7;
}

.main-nav__item--digital-marketing:hover .main-nav__link {
  background-color: #2ECC71;
}

.main-nav__item--telecoms-services:hover .main-nav__link {
  background-color: #D64541;
}

.main-nav__item--web-design:hover .main-nav__link {
  background-color: #926FB1;
}

.main-nav__item--cyber-security:hover .main-nav__link {
  background-color: #F62459;
}

.main-nav__item--developer-training:hover .main-nav__link {
  background-color: #CE4125;
}

.main-nav__item--bespoke-software .main-nav__dropdown {
  background-color: #526781;
}

.main-nav__item--it-support .main-nav__dropdown {
  background-color: #286ABD;
}

.main-nav__item--digital-marketing .main-nav__dropdown {
  background-color: #25A25A;
}

.main-nav__item--telecoms-services .main-nav__dropdown {
  background-color: #BC2C28;
}

.main-nav__item--web-design .main-nav__dropdown {
  background-color: #79539A;
}

.main-nav__item--cyber-security .main-nav__dropdown {
  background-color: #DE093F;
}

.main-nav__item--developer-training .main-nav__dropdown {
  background-color: #A3331D;
}

.main-nav__item--bespoke-software .icon {
  fill: #67809F;
  margin-bottom: 0.5rem;
}
.main-nav__item--bespoke-software:hover .icon {
  fill: #fff;
}

.main-nav__item--it-support .icon {
  fill: #4183D7;
  margin-bottom: 0.5rem;
}
.main-nav__item--it-support:hover .icon {
  fill: #fff;
}

.main-nav__item--digital-marketing .icon {
  fill: #2ECC71;
  margin-bottom: 0.5rem;
}
.main-nav__item--digital-marketing:hover .icon {
  fill: #fff;
}

.main-nav__item--telecoms-services .icon {
  fill: #D64541;
  margin-bottom: 0.5rem;
}
.main-nav__item--telecoms-services:hover .icon {
  fill: #fff;
}

.main-nav__item--web-design .icon {
  fill: #9877B6;
  margin-bottom: 0.5rem;
}
.main-nav__item--web-design:hover .icon {
  fill: #fff;
}

.main-nav__item--cyber-security .icon {
  fill: #F62459;
  margin-bottom: 0.5rem;
}
.main-nav__item--cyber-security:hover .icon {
  fill: #fff;
}

.main-nav__item--developer-training .icon {
  fill: #CE4125;
  margin-bottom: 0.5rem;
}
.main-nav__item--developer-training:hover .icon {
  fill: #fff;
}

.main-nav__item--bespoke-software:hover .main-nav__link::after {
  border-top-color: #67809F;
}

.main-nav__item--it-support:hover .main-nav__link::after {
  border-top-color: #4183D7;
}

.main-nav__item--digital-marketing:hover .main-nav__link::after {
  border-top-color: #2ECC71;
}

.main-nav__item--telecoms-services:hover .main-nav__link::after {
  border-top-color: #D64541;
}

.main-nav__item--web-design:hover .main-nav__link::after {
  border-top-color: #926FB1;
}

.main-nav__item--cyber-security:hover .main-nav__link::after {
  border-top-color: #F62459;
}

.main-nav__item--developer-training:hover .main-nav__link::after {
  border-top-color: #CE4125;
}
