

.services {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.services a {
  text-decoration: none;
}

.services__menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.services__menu-container > * {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .services__menu-container > :nth-last-child(-n+4) {
    max-width: calc((100% - 2rem) / 2);
  }
}
@media (min-width: 992px) {
  .services__menu-container > :nth-child(-n+3) {
    max-width: calc((100% - (2 * 2rem)) / 3);
  }
}
@media (min-width: 1260px) {
  .services__menu-container > :nth-last-child(-n+4) {
    max-width: calc((100% - (3 * 2rem)) / 4);
  }
}

.services__heading {
  margin: 0;
  color: #323544;
  font-size: 2.75rem;
}

.services__view-case-studies-link {
  color: #323544;
  font-size: 1.625rem;
  font-weight: 600;
}
.services__view-case-studies-link:hover {
  text-decoration: underline;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  transition: 0.5s ease;
  padding: 1.875rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.services__card {
  &:hover { 
    top: -0.625rem;
  }
}

.space-between-heading-and-view-more-link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}


.services__view-case-studies-link--wide-viewport {
  display: none;
}
@media (min-width: 768px) {
  .services__view-case-studies-link--wide-viewport {
    display: block;
  }
}

.services__view-case-studies-link--narrow-viewport {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .services__view-case-studies-link--narrow-viewport {
    display: none;
  }
}

.services__card.services__card--bespoke-software:hover {
  background-color: #67809F;
}
.services__card.services__card--bespoke-software:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--bespoke-software:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--bespoke-software:hover .services__card-read-more-button {
  background-color: #fff;
  color: #67809F;
}
.services__card.services__card--it-support:hover {
  background-color: #4183D7;
}
.services__card.services__card--it-support:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--it-support:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--it-support:hover .services__card-read-more-button {
  background-color: #fff;
  color: #4183D7;
}
.services__card.services__card--digital-marketing:hover {
  background-color: #2ECC71;
}
.services__card.services__card--digital-marketing:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--digital-marketing:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--digital-marketing:hover .services__card-read-more-button {
  background-color: #fff;
  color: #2ECC71;
}
.services__card.services__card--telecoms-services:hover {
  background-color: #D64541;
}
.services__card.services__card--telecoms-services:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--telecoms-services:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--telecoms-services:hover .services__card-read-more-button {
  background-color: #fff;
  color: #D64541;
}
.services__card.services__card--web-design:hover {
  background-color: #926FB1;
}
.services__card.services__card--web-design:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--web-design:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--web-design:hover .services__card-read-more-button {
  background-color: #fff;
  color: #926FB1;
}
.services__card.services__card--cyber-security:hover {
  background-color: #F62459;
}
.services__card.services__card--cyber-security:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--cyber-security:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--cyber-security:hover .services__card-read-more-button {
  background-color: #fff;
  color: #F62459;
}
.services__card.services__card--developer-training:hover {
  background-color: #CE4125;
}
.services__card.services__card--developer-training:hover .services__card-heading {
  color: #fff;
}
.services__card.services__card--developer-training:hover .services__card-description {
  color: #fff;
}
.services__card.services__card--developer-training:hover .services__card-read-more-button {
  background-color: #fff;
  color: #CE4125;
}
.services__card.services__card--bespoke-software .services__card-icon-background {
  background-color: #67809F;
}
.services__card.services__card--bespoke-software .icon {
  fill: #fff;
}
.services__card.services__card--bespoke-software:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--bespoke-software:hover .icon {
  fill: #67809F;
}
.services__card.services__card--it-support .services__card-icon-background {
  background-color: #4183D7;
}
.services__card.services__card--it-support .icon {
  fill: #fff;
}
.services__card.services__card--it-support:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--it-support:hover .icon {
  fill: #4183D7;
}
.services__card.services__card--digital-marketing .services__card-icon-background {
  background-color: #2ECC71;
}
.services__card.services__card--digital-marketing .icon {
  fill: #fff;
}
.services__card.services__card--digital-marketing:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--digital-marketing:hover .icon {
  fill: #2ECC71;
}
.services__card.services__card--telecoms-services .services__card-icon-background {
  background-color: #D64541;
}
.services__card.services__card--telecoms-services .icon {
  fill: #fff;
}
.services__card.services__card--telecoms-services:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--telecoms-services:hover .icon {
  fill: #D64541;
}
.services__card.services__card--web-design .services__card-icon-background {
  background-color: #926FB1;
}
.services__card.services__card--web-design .icon {
  fill: #fff;
}
.services__card.services__card--web-design:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--web-design:hover .icon {
  fill: #926FB1;
}
.services__card.services__card--cyber-security .services__card-icon-background {
  background-color: #F62459;
}
.services__card.services__card--cyber-security .icon {
  fill: #fff;
}
.services__card.services__card--cyber-security:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--cyber-security:hover .icon {
  fill: #F62459;
}
.services__card.services__card--developer-training .services__card-icon-background {
  background-color: #CE4125;
}
.services__card.services__card--developer-training .icon {
  fill: #fff;
}
.services__card.services__card--developer-training:hover .services__card-icon-background {
  background-color: #fff;
}
.services__card.services__card--developer-training:hover .icon {
  fill: #CE4125;
}

.services__card-icon-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
}
.services__card-icon-background .icon {
  width: 2rem;
  height: 2rem;
}

.services__card-heading {
  color: #323544;
  font-size: 1.3rem;
  font-weight: 400;
}

.services__card-description {
  color: #323544;
  font-size: 0.8125rem;
}

.services__card-read-more-button {
  margin-top: auto;
}

.services__card-read-more-button--bespoke-software {
  background-color: #67809F;
}
.services__card-read-more-button--bespoke-software:hover {
  background-color: #485b72;
}

.services__card-read-more-button--it-support {
  background-color: #4183D7;
}
.services__card-read-more-button--it-support:hover {
  background-color: #235ea8;
}

.services__card-read-more-button--digital-marketing {
  background-color: #2ECC71;
}
.services__card-read-more-button--digital-marketing:hover {
  background-color: #208e4e;
}

.services__card-read-more-button--telecoms-services {
  background-color: #D64541;
}
.services__card-read-more-button--telecoms-services:hover {
  background-color: #a72724;
}

.services__card-read-more-button--web-design {
  background-color: #926FB1;
}
.services__card-read-more-button--web-design:hover {
  background-color: #6c4a89;
}

.services__card-read-more-button--cyber-security {
  background-color: #F62459;
}
.services__card-read-more-button--cyber-security:hover {
  background-color: #c50838;
}

.services__card-read-more-button--developer-training {
  background-color: #CE4125;
}
.services__card-read-more-button--developer-training:hover {
  background-color: #8d2d19;
}