
.main-logo {
  margin-right: auto;
  text-decoration: none;
}

.main-logo-image {
  width: 95%;
}

.site-phone-cta {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .site-phone-cta {
    display: none;
  }
}

.site-phone-cta__icon {
  margin-top: 0.5em;
  width: 2rem;
  fill: #323544;
}
.site-phone-cta__icon:hover {
  fill: #121318;
}


.site-support-cta {
  height: 3.5rem;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  display: none;
}
@media (min-width: 992px) {
  .site-support-cta {
    display: inline-flex;
    background-color: #4183D7;
  }
  .site-support-cta:hover {
    background-color: #235ea8;
  }
}
.site-support-cta .icon {
  fill: #fff;
}

.site-contact-cta {
  height: 3.5rem;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  display: none;
}


@media (min-width: 992px) {
  .site-contact-cta {
    display: inline-flex;
    justify-content: center;
    background-color: #999AA1;
  }
  .site-contact-cta:hover {
    background-color: #72737c;
  }
}
.site-contact-cta .icon {
  fill: #fff;
}

.site-search-widget {
  position: relative;
  margin: 0.5rem 0;
}

.site-search-widget__field {
  display: inline-block;
  width: 15rem;
  padding: 0.75rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  transition: border-color 0.12s ease-in-out, box-shadow 0.12s ease-in-out;
}
.site-search-widget__field::placeholder {
  color: #999AA1;
}
.site-search-widget__field:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 192, 222, 0.5);
  outline: none;
}

.site-search-widget__trigger {
  top: 0.5rem;
  right: 0.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.site-search-widget__icon {
  width: 1.6rem;
}

.site-search-widget--narrow-viewport {
  display: block;
  margin-top: 1.2rem;
}
@media (min-width: 768px) {
  .site-search-widget--narrow-viewport {
    display: none;
  }
}
.site-search-widget--narrow-viewport button.site-search-widget__trigger {
  position: absolute;
}

.site-search-widget--wide-viewport {
  display: none;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .site-search-widget--wide-viewport {
    display: flex;
  }
}

.site-search-widget__field--narrow-viewport {
  width: 100%;
  border-width: 2px;
  border-radius: 2px;
}

.site-search-widget__field--wide-viewport {
  height: 3.5rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  .site-search-widget__field--wide-viewport {
    width: 10.875rem;
  }
}
@media (min-width: 992px) {
  .site-search-widget__field--wide-viewport {
    display: none;
  }
}
@media (min-width: 1260px) {
  .site-search-widget__field--wide-viewport {
    display: inline-block;
    width: 15rem;
  }
}

.site-search-widget__trigger--wide-viewport {
  width: 4rem;
  height: 3.5rem;
  top: 0;
  right: 0;
  background-color: #999AA1;
  border-radius: 0 0.25rem 0.25rem 0;
}
.site-search-widget__trigger--wide-viewport:hover {
  background-color: #72737c;
}
@media (min-width: 992px) {
  .site-search-widget__trigger--wide-viewport {
    position: relative;
    border-radius: 0.25rem;
  }
}
@media (min-width: 1260px) {
  .site-search-widget__trigger--wide-viewport {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.site-search-widget__icon--narrow-viewport {
  fill: #323544;
}

.site-search-widget__icon--wide-viewport {
  padding-top: 0.75rem;
  fill: #fff;
}



