:root {
  --background-color: hsl(0, 0%, 0%); /* #000000 */
  --text-color: hsl(0, 0%, 100%); /* #ffffff */
  --primary-color: hsl(240, 20%, 1%); /* #020203 */
  --secondary-color: hsl(230, 14.3%, 8.2%); /* #121318 */
  --accent-color: hsl(232, 18.5%, 15.9%); /* #212330 */
  --muted-1: hsl(160, 100%, 20.8%); /* #006a47 */
  --muted-2: hsl(230, 15.3%, 23.1%); /* #323544 */
  --border-color: hsl(230, 15%, 23.5%); /* #333645 */
  --neutral-1: hsl(145, 63.2%, 34.1%); /* #208e4e */
  --neutral-2: hsl(201, 100%, 35.5%); /* #0077b5 */
  --neutral-3: hsl(161, 100%, 35.7%); /* #00b67b */
  --neutral-4: hsl(213, 22.6%, 36.5%); /* #485b72 */
  --neutral-5: hsl(10, 69.8%, 37.6%); /* #a3331d */
  --neutral-6: hsl(145, 62.8%, 39%); /* #25a25a */
  --neutral-7: hsl(213, 65.5%, 39.8%); /* #235ea8 */
  --neutral-8: hsl(0, 0%, 40%); /* #666666 */
  --neutral-9: hsl(272, 29.9%, 41.4%); /* #6c4a89 */
  --neutral-10: hsl(221, 44.1%, 41.4%); /* #3b5998 */
  --neutral-11: hsl(213, 22.3%, 41.4%); /* #526781 */
  --neutral-12: hsl(2, 64.9%, 44.7%); /* #bc2c28 */
  --neutral-13: hsl(213, 65.1%, 44.9%); /* #286abd */
  --neutral-14: hsl(345, 92.2%, 45.3%); /* #de093f */
  --neutral-15: hsl(272, 30%, 46.5%); /* #79539a */
  --neutral-16: hsl(217, 90.7%, 46.5%); /* #0b5ce2 */
  --neutral-17: hsl(234, 4.2%, 46.7%); /* #72737c */
  --neutral-18: hsl(41, 93.3%, 47.1%); /* #e8a008 */
  --neutral-19: hsl(10, 69.5%, 47.6%); /* #ce4125 */
  --neutral-20: hsl(145, 63.2%, 49%); /* #2ecc71 */
  --neutral-21: hsl(39, 100%, 50%); /* #ffa500 */
  --neutral-22: hsl(213, 22.6%, 51.4%); /* #67809f */
  --neutral-23: hsl(203, 89.1%, 53.1%); /* #1da1f2 */
  --neutral-24: hsl(2, 64.5%, 54.7%); /* #d64541 */
  --neutral-25: hsl(214, 65.2%, 54.9%); /* #4183d7 */
  --neutral-26: hsl(345, 92.1%, 55.3%); /* #f62459 */
  --neutral-27: hsl(272, 29.7%, 56.5%); /* #926fb1 */
  --neutral-28: hsl(349, 75.2%, 57.3%); /* #e4405f */
  --neutral-29: hsl(271, 30.1%, 59%); /* #9877b6 */
  --neutral-30: hsl(194, 66.5%, 61.4%); /* #5bc0de */
  --neutral-31: hsl(217, 90.9%, 61.4%); /* #4387f6 */
  --neutral-32: hsl(233, 4.1%, 61.6%); /* #999aa1 */
  --neutral-33: hsl(0, 0%, 80%); /* #cccccc */
}
