/* _typography.scss
*/
$font-stack: Poppins, sans-serif;
$base-font-size: 16px;
$line-height: 1.5;

html {
  font-size: $base-font-size;
}
body {
  font-family: $font-stack;
  line-height: $line-height;
}
